.movie-list {
  width: 70%;
  margin: auto;
  display: flex;
  gap: 2rem;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: wrap;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 50px;
  padding: 0 100px; */
}

.details {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

@media (max-width: 400px) {
  .movie-list {
    width: 100%;
  }
}
